---
http_interactions:
- request:
    method: put
    uri: https://www.statuscake.com/API/Tests/Update
    body:
      encoding: UTF-8
      string: WebsiteName=google.com&WebsiteURL=https%3A%2F%2Fgoogle.com&CheckRate=300&ContactGroup=10395&TestType=HTTP&Paused=1
    headers:
      Username:
      - <USER>
      Api:
      - <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Success":true,"Message":"Test Inserted","Issues":null,"Data":{"Paused":"1","WebsiteName":"google.com","WebsiteURL":"https:\/\/google.com","CheckRate":"300","TestType":"HTTP","ContactGroup":"10395","Client":"14818"},"InsertID":169665}'
  recorded_at: Tue, 03 Jun 2014 20:34:33 GMT
recorded_with: VCR 2.9.2
