---
http_interactions:
- request:
    method: put
    uri: https://www.statuscake.com/API/ContactGroups/Update
    body:
      encoding: UTF-8
      string: GroupName=Test%20Contact%20Group%20API&Email=test%40invalid.com
    headers:
      Username:
      - <USER>
      Api:
      - <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Success":true,"Message":"Test Inserted","Issues":[],"Data":{"Email":"test@invalid.com","GroupName":"Test
        Contact Group API","Client":"14818"},"InsertID":10564}'
  recorded_at: Wed, 11 Jun 2014 21:19:20 GMT
recorded_with: VCR 2.9.2
