---
http_interactions:
- request:
    method: get
    uri: https://www.statuscake.com/API/Tests/Details?TestID=170051
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - <USER>
      Api:
      - <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Method":"GET","TestID":170051,"TestType":"HTTP","Paused":true,"WebsiteName":"google.com","ContactGroup":"All
        Sites","ContactID":10395,"Status":"Up","Uptime":100,"CheckRate":3600,"Timeout":60,"LogoImage":"","WebsiteHost":"","NodeLocations":[""],"FindString":"","DoNotFind":false,"LastTested":"2014-06-10
        19:21:19","NextLocation":"DA5","Processing":false,"ProcessingState":"Finished
        Logging","ProcessingOn":"DA11","DownTimes":"0","Sensitive":false}'
  recorded_at: Tue, 10 Jun 2014 20:06:24 GMT
recorded_with: VCR 2.9.2
