---
http_interactions:
- request:
    method: get
    uri: https://www.statuscake.com/API/ContactGroups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - <USER>
      Api:
      - <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"GroupName":"Test","Emails":["nothing@<USER>.com"],"Mobiles":"","Boxcar":"","Pushover":"","ContactID":10313,"DesktopAlert":0,"PingURL":""},{"GroupName":"All
        Sites","Emails":["nothing@<USER>.com"],"Mobiles":"","Boxcar":"","Pushover":"","ContactID":10395,"DesktopAlert":0,"PingURL":""}]'
  recorded_at: Wed, 11 Jun 2014 21:10:42 GMT
recorded_with: VCR 2.9.2
