---
http_interactions:
- request:
    method: get
    uri: https://www.statuscake.com/API/Tests?CUID=10395
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - <USER>
      Api:
      - <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"TestID":169662,"Paused":true,"TestType":"HTTP","WebsiteName":"google.com","ContactGroup":"All
        Sites","ContactID":10395,"Public":0,"Status":"Up","Uptime":100,"Performance":0.178},{"TestID":169665,"Paused":true,"TestType":"HTTP","WebsiteName":"google.com","ContactGroup":"All
        Sites","ContactID":10395,"Public":0,"Status":"","Uptime":0,"Performance":0}]'
  recorded_at: Tue, 03 Jun 2014 20:34:36 GMT
- request:
    method: put
    uri: https://www.statuscake.com/API/Tests/Update
    body:
      encoding: UTF-8
      string: TestID=169662&Paused=0&TestType=HTTP&WebsiteName=google.com&ContactGroup=All%20Sites&ContactID=10395&Public=0&Status=Up&Uptime=100&Performance=0.178
    headers:
      Username:
      - <USER>
      Api:
      - <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Issues":{"ContactGroup":"Must be a int form."},"Success":true,"Message":"Test
        has been updated!"}'
  recorded_at: Tue, 03 Jun 2014 20:34:37 GMT
recorded_with: VCR 2.9.2
