---
http_interactions:
- request:
    method: get
    uri: https://www.statuscake.com/API/ContactGroups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - <USER>
      Api:
      - <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"GroupName":"Test","Emails":["nothing@<USER>.com"],"Mobiles":"","Boxcar":"","Pushover":"","ContactID":10313,"DesktopAlert":0,"PingURL":""},{"GroupName":"All
        Sites","Emails":["nothing@<USER>.com"],"Mobiles":"","Boxcar":"","Pushover":"","ContactID":10395,"DesktopAlert":0,"PingURL":""},{"GroupName":"Test
        Contact Group API","Emails":["test@invalid.com"],"Mobiles":"","Boxcar":"","Pushover":"","ContactID":10564,"DesktopAlert":0,"PingURL":""}]'
  recorded_at: Wed, 11 Jun 2014 21:19:22 GMT
- request:
    method: put
    uri: https://www.statuscake.com/API/ContactGroups/Update
    body:
      encoding: UTF-8
      string: ContactID=10564&GroupName=Test%20Contact%20Group%20API%20-%20Updated&Email=test.updated%40invalid.com
    headers:
      Username:
      - <USER>
      Api:
      - <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Success":true,"Issues":[],"Message":"Contact Group has been updated!"}'
  recorded_at: Wed, 11 Jun 2014 21:19:23 GMT
- request:
    method: get
    uri: https://www.statuscake.com/API/ContactGroups
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - <USER>
      Api:
      - <APIKEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"GroupName":"Test","Emails":["nothing@<USER>.com"],"Mobiles":"","Boxcar":"","Pushover":"","ContactID":10313,"DesktopAlert":0,"PingURL":""},{"GroupName":"All
        Sites","Emails":["nothing@<USER>.com"],"Mobiles":"","Boxcar":"","Pushover":"","ContactID":10395,"DesktopAlert":0,"PingURL":""},{"GroupName":"Test
        Contact Group API - Updated","Emails":["test.updated@invalid.com"],"Mobiles":"","Boxcar":"","Pushover":"","ContactID":10564,"DesktopAlert":0,"PingURL":""}]'
  recorded_at: Wed, 11 Jun 2014 21:19:26 GMT
recorded_with: VCR 2.9.2
